.footer__contacts-item {
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    line-height: 24.30px;
    text-underline-position: under;
    list-style: none;
}
.footer__contacts-item:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
.footer__contacts-item:last-of-type {
    opacity: 1;
}