.lots__item-title {
    color: white;
    font-size: 22px;
    font-family: Raleway, serif;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 26.40px;
    position: relative;
    z-index: 2;
}