.cover__description-text {
    color: white;
    font-size: 22px;
    font-family: Raleway, serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 28px;
    position: relative;
    z-index: 2;
    word-spacing: 20px
}