.cover {
    position: relative;
    width: 1440px;
    height: 757px;
    margin: auto auto 180px;
    background: url("../../images/cover.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}