.footer__nav-item {
    font-size: 18px;
    font-family: Raleway, serif;
    font-weight: 400;
    margin-left: 32px;
    text-underline-position: under;
    list-style: none;
    text-align: center;
}
.footer__nav-item:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}