.cover__title {
    position: relative;
    color: white;
    font-size: 100px;
    font-family: Raleway, serif;
    font-weight: 700;
    z-index: 2;
    text-transform: uppercase;
    padding-top: 165px;

}
/*.cover:nth-of-type(2) {*/
/*    justify-items: center;*/
/*    padding-left: 0;*/
/*}*/
/*.cover:nth-of-type(3) {*/
/*    justify-items: end;*/
/*    padding-right: 50px;*/
/*    padding-left: 0;*/
/*    margin: 0;*/
/*}*/