.cover__title {
    position: relative;
    color: white;
    font-size: 100px;
    line-height: 100px;
    font-style: normal;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    z-index: 2;
    text-transform: uppercase;
    padding-top: 165px;
    display: flex;
    flex-direction:column;
    row-gap: 20px;
}