.header__nav-item {
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    margin-left: 32px;
    list-style: circle;
    text-underline-position: under;
}
.header__nav-item:first-of-type {
    list-style: none;
    margin-left: 0;
}
.header__nav-item:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
.header__contacts-item:last-of-type {
    opacity: 1;
}